body {
    background: url("./image_background_screenshot_ins.png") no-repeat top left fixed;
    background-size: cover;
    margin: 0;
    /* margin-top: -20px; */
    padding: 0;
    overflow: hidden;
    width: 800px;
    height: 600px;
    font-size: 32px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
* {
    cursor: default;
}
.material-icons {
    cursor: auto;
}
.modal .modal-footer {
    height: 57px;
}
.app-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 25%;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(27, 161, 220, 0.6) 0 0 20px
}
.buttons {
    position: absolute;
    bottom: 0;
    height: 74px;
    width: 100%;
}
.buttons button.btn-large {
    height: 74px;
}
progress[value] {
    -webkit-appearance: none;
    appearance: none;
    color: #00c853;
    border: none;
    border-radius: 4px;
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
#progressbar-all,
#progressbar-current {
    width: 100%;
    height: 36px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
}
#progressbar-current {
    bottom: 38px;
}

#progressbar-current-info,
#progressbar-all-info {
    text-align: center;
    line-height: 36px;
    font-size: 24px;
    width: 100%;
    height: 36px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow: #fff 1px 0px 2px;
}
#progressbar-current-info {
    font-size: 20px;
}
.progress .progressbar-green {
    background: #00c853;
}
.progress .determinate {
    transition: width .05s linear;
}
#progressbar-current-info {
    bottom: 38px;
}

#current-ETA {
    position: absolute;
    right: 0;
    bottom: 80px;
    font-size: 32px;
    color: #ffffff;
}
#current-speed {
    position: absolute;
    left: 0;
    bottom: 80px;
    font-size: 32px;
    color: #ffffff;
}
#current-action {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    bottom: 80px;
    font-size: 32px;
    color: #ffffff;
}
#server-container {
    position: absolute;
    left: 0;
    bottom: 120px;
    font-size: 32px;
    color: #ffffff;
}
/* for IE8 */
.material-icons.iefix24 {
    width: 24px;
}